.saso01 {
    display: none;
}

.bannerClass {
    background-repeat: no-repeat;
    background-size: cover;
}
@media  (max-width: 768px) {
    aside {
        display: none;
    }
}

.works {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.works:hover {
    background-color: #cccccc6c;
}