main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.width {
    width: 80%;
    margin-top: 5%;
}
.works {
    border: 1px solid rgba(128, 128, 128, 0.473);
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}
.works:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.212);
    background-color: transparent;
}
.itemMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 2 1;
    padding: 5px 10px;
}
.itemMain:hover {
    background-color: rgb(226, 226, 226);
}
.info {
    width: 90%;
    margin-left: 10px;
}
.info h3 {
    font-weight: bold;
}
.info p {
    font-size: 0.8rem;
}
.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}
.date {
    margin-right: 10px;
}
.logo {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.pending {
    background-color: rgb(245, 186, 186);
    color: rgb(219, 61, 61);
}
.done {
    background-color: rgb(186, 245, 186);
    color: rgb(61, 219, 61);
}