.active {
    background-color: rgb(39, 33, 92);
}
li{
    border-radius: 10px;
    padding: 5px 10px;
}
nav {
    transition: height 5s linear;
}

.itemClasses, .itemUser{
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px !important;
}
.itemClasses:hover, .itemUser:hover{
    background-color: #e4e4e4;
}
.itemClasses > .avatar {
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 10px;
}
.bodyItemClass{
    padding: 10px 0px;
}
.backPanelNav {
    background-color: rgb(54, 47, 120);
    width: 100%;
    height: 10vh;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: -999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main {
    position: relative;
}
.container-fluid {
    background-color: #fff;
    width: 95%;
    height: 100%;
    min-height: 11vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}